<div class="container hero-container">
  <div class="row h-100">
    <div class="col-sm-6 align-self-center">
      <div class="hero-content mr-5">
        <h1>More than just shorter links</h1>
        <p>Build your brand’s recognition and get detailed insights on how your links are performing.</p>
        <a href="#" class="btn btn-cyan rounded-pill px-4">Get Started</a>
      </div>
    </div>
    <div class="col-sm-6 align-self-center">
      <img src="../../../assets/images/illustration-working.svg" alt="Illustration working" />
    </div>
  </div>
</div>