<section class="shortener">
  <div class="container-lg">
    <div class="row" id="shortener-form">
      <div class="form-container">
        <form name="form" (ngSubmit)="onSubmit()">
          <input 
            type="url" 
            name="url" 
            placeholder="Shorten a link here..." 
            class="form-control" 
            [formControl]="url" />
          <button type="submit" class="btn btn-cyan shadow-none">
            Shorten It!
          </button>
          <div *ngIf="url.invalid && url.touched" class="error-msg" >
            <span *ngIf="url.errors.required">Please add a link</span>
            <span *ngIf="url.errors.pattern">Invalid url</span>
          </div>
        </form>
      </div>
    </div>
    <div class="row" id="link-history">
      <ul class="links">
        <li class="link shadow-sm" *ngFor="let link of links">
          <app-link-item [link]="link"></app-link-item>
        </li>
      </ul>
    </div>
  </div>
</section>
