$cyan: #2bcfcf;

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

h1 {
  font-weight: 700;
  font-size: 52px;
}

.btn-cyan {
  color: #fff;
  background-color: $cyan;
  border-color: $cyan;
}