@import "./src/variables.scss";

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
  font-size: 52px;
}

.btn-cyan {
  color: #fff;
  background-color: $cyan;
  border-color: $cyan;
}