<section class="statistics">
  <div class="container py-5">
    <div class="row mt-3 d-flex flex-column">
      <div class="col-md-6 mx-auto text-center">
        <h2>Advanced Statistics</h2>
        <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center mt-5 mb-3 cards">
      <div *ngFor="let benefit of statisticsBenefits" class="col">
        <div class="card border-0 shadow-sm">
          <div class="card-icon d-flex align-items-center justify-content-center">
            <img [src]="benefit.img" [alt]="benefit.title">
          </div>
          <div class="card-body text-left">
            <h3 class="card-title">{{ benefit.title }}</h3>
            <p class="card-text">{{ benefit.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
